/* Для большого экрана */
@media screen and (min-width: 721px) {
    .body {
        display: grid;
        grid-template-rows: 10vh min-content 10vh;
        grid-template-areas: "header""main""footer";
        background-image: url('../image/common/main-background.svg');
        background-repeat: no-repeat;

        background-position: right;
    }

    .header {
        grid-area: header;
    }

    .main {
        grid-area: main;
    }

    .footer {
        grid-area: footer;
    }
}

/* Для маленького экрана */
@media screen and (max-width: 720px) {
    .body {
        display: grid;
        grid-template-rows: 1fr 3fr 1fr;
        grid-template-areas: "header""main""footer";
        background-image: url('../image/common/main-background.svg');
        background-repeat: no-repeat;

    }

    .header {
        grid-area: header;
    }

    .main {
        grid-area: main;
    }

    .footer {
        grid-area: footer;
    }
}